<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Smoking Detector Extension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.infernal.SmokingDetector.watchkitapp.watchkitextension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>com.infernal.SmokingDetector.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<!-- Permissions -->
	<key>NSMotionUsageDescription</key>
	<string>Used to detect smoking gestures via accelerometer and gyroscope</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Used to monitor heart rate for cigarette detection accuracy</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used for GPS clustering to identify smoking locations (home/work/bar)</string>
	<!-- Background Modes -->
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
